@{
    ViewBag.Title = "SubMinimizer";
}
<h2>@ViewBag.Title.</h2>

<p class="lead">Helps you detect and delete the idle resources in you Azure subscriptions and save money</p>
<p><a href="https://github.com/shklar/CogsMinimizer" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>


<address>
    <strong>Support:</strong>   <a href="mailto:maximsh@microsoft.com">maximsh@microsoft.com</a><br />
</address>
