@{
    ViewBag.Title = "Oops! Something went wrong...";
}
<h2>@ViewBag.Title.</h2>

<p class="lead">Exception:</p>
<br/>
<p class="lead">@ViewData["Exception"]</p>


<address>
    <strong>Support:</strong>   <a href="mailto:maximsh@microsoft.com">maximsh@microsoft.com</a><br />
</address>
