@{
    ViewBag.Title = "Notice";
}
<h2>@ViewBag.Title</h2>

<p class="lead">@ViewData["Message"]</p>

<address>
    <strong>Support:</strong>   <a href="mailto:maximsh@microsoft.com">maximsh@microsoft.com</a><br />
</address>

