<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="UseDevelopmentStorage=true"/>
    <add name="AzureWebJobsStorage" connectionString="UseDevelopmentStorage=true"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <appSettings file="App.Secrets.config">
    <add key="ida:Authority" value="https://login.windows.net/{0}/" />
    <add key="ida:Issuer" value="https://sts.windows.net/{0}/" />
    <add key="ida:GraphAPIIdentifier" value="https://graph.windows.net/" />
    <add key="ida:GraphAPIVersion" value="1.5" />
    <add key="ida:AzureResourceManagerIdentifier" value="https://management.core.windows.net/" />
    <add key="ida:AzureResourceManagerUrl" value="https://management.azure.com" />
    <add key="ida:AzureResourceManagerAPIVersion" value="2014-04-01-preview" />
    <add key="ida:ARMAuthorizationPermissionsAPIVersion" value="2014-07-01-preview" />
    <add key="ida:ARMAuthorizationRoleDefinitionsAPIVersion" value="2014-07-01-preview" />
    <add key="ida:ARMAuthorizationRoleAssignmentsAPIVersion" value="2014-10-01-preview" />
    <add key="ida:ARMAuthorizationPermissionsAPIVersion" value="2014-07-01-preview" />
    <add key="ida:RequiredARMRoleOnSubscription" value="Contributor" />

    <add key="EnableWebJob" value ="True"/>
    <add key="AllowWebJobDelete" value ="False"/>
    <add key="AllowWebJobEmail" value ="True"/>
    <add key="DevTeam" value ="noreply@microsoft.com"/>
    <add key="ENV_DISPLAY_NAME" value="MAXIMSH-DEV" />
    <add key="ServiceURL" value="https://localhost"/>

    <!--Telemetry settings-->
    <add key="TelemetryInstrumentationKey" value="5EB05D75-3D36-44F7-A005-C4EF7608833B" />

  </appSettings>
</configuration>
